<div class="App">
  <h1>{{ title }}</h1>
  <div class="movie-search-input">
    <input type="text" (input)="searchMovies($event)"/>
    <div class="dropdown-list">
      <ng-container *ngIf="searchResults?.length">
        <div [tabindex]="i" class="item" *ngFor="let movie of searchResults;let i = index" (click)="getMovie(movie.imdbID)">
          {{movie.Title}}
        </div>
      </ng-container>
      <ng-container *ngIf="error">
        {{error}}
      </ng-container>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="content" *ngIf="selectedMovie">
    <h2>Movie title: {{ selectedMovie.Title }}</h2>
    <p>
      {{selectedMovie.Plot}}
    </p>
  </div>
</div>
